{{- include "common.deployment" (list . "kube-cats.deployment") }}
{{- define "kube-cats.deployment" }}
metadata:
  labels:
    application: {{ .Release.Name }}
    component: web
  name: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      application: {{ .Release.Name }}
      component: web
  template:
    metadata:
      labels:
        application: {{ .Release.Name }}
        component: web
    spec:
      serviceAccountName: {{ .Release.Name }}
      containers:
      - name: service
        image: ghcr.io/j6nca/kube-cats:sha256-311cc7da81b1bcb432a8c9e6757e9934831964bfc24fab1c4444d4d24e774960
        imagePullPolicy: Always
        env:
        - name: API_URL
          value: http://{{ .Release.Name }}-api
        ports:
        - containerPort: 3000
          protocol: TCP
        resources:
          limits:
            cpu: 200m
            memory: 100Mi
          requests:
            cpu: 50m
            memory: 50Mi
        securityContext:
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000
{{- end }}
---
{{- include "common.deployment" (list . "kube-cats-api.deployment") }}
{{- define "kube-cats-api.deployment" }}
metadata:
  labels:
    application: {{ .Release.Name }}-api
    component: api
  name: {{ .Release.Name }}-api
spec:
  replicas: 1
  selector:
    matchLabels:
      application: {{ .Release.Name }}-api
      component: api
  template:
    metadata:
      labels:
        application: {{ .Release.Name }}-api
        component: api
    spec:
      serviceAccountName: {{ .Release.Name }}
      containers:
      - name: service
        image: ghcr.io/j6nca/kube-cats-api:sha256-bc965e1d4848146e38bee3985f07a7bc4dddb6ba800ca4e793109760fbecc84c
        imagePullPolicy: Always
        env:
        - name: API_PORT
          value: "8080"
        - name: ENVIRONMENT
          value: production
        ports:
        - containerPort: 8080
          protocol: TCP
        resources:
          limits:
            cpu: 200m
            memory: 100Mi
          requests:
            cpu: 50m
            memory: 50Mi
        securityContext:
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000
{{- end }}
